.row-fluid
	.span8
		.row-fluid
			%b.with
		.row-fluid
			%b.turn.hide
				Your turn
		%embed{:src => "images/board.svg", :type => "image/svg+xml"}
		-# %canvas#canvas{:width => 800, :height => 800}
	.span4
		%form#register
			%fieldset
				%input#name{:placeholder => 'type your name...'}
	.span4
		.well.waiting.hide
			Waiting for another player...
