.row-fluid
	%form#register
		%fieldset
			%input#name{:placeholder => 'type your name...'}
.row-fluid.waiting.hide
	.span8
	.span4
		.well
			Waiting for another player...
.row-fluid.board.hide 
	%b.with
	%canvas

