.row-fluid
	.span12
		bla-bla header
.row-fluid
	.span6
		.row-fluid
			%b.with
		.row-fluid
			%b.turn.hide
				Your turn
		#svg
		-#%embed{:src => "images/board.svg", :type => "image/svg+xml"}
		-# %canvas#canvas{:width => 800, :height => 800}
	.span6
		%form#register
			%fieldset
				%input#name{:placeholder => 'type your name...'}
		.row-fluid
			.well.waiting.hide
				Waiting for another player...
.row-fluid
	.span12
		bla-bla footer
