.row-fluid
	.span8
		%b.with
		%canvas#canvas{:width => 410, :height => 600}
	.span4
		%form#register
			%fieldset
				%input#name{:placeholder => 'type your name...'}
	.span4
		.well.waiting
			Waiting for another player...
