/ .row-fluid.header
/   %h1
/     Quoridor
.row-fluid
  .span8.board
    .row-fluid.waiting.hide
      %h3
        Waiting for another player...
      = image_tag "ajax-loader.gif"
      / .progress.progress-striped.active
      /   .bar{:style => "width: 100%;"}
    .game.hide
      .row-fluid
        .hero-unit
          %a.first-player
          vs
          %a.second-player
      #svg.board-size
    -# %embed{:src => "images/board.svg", :type => "image/svg+xml"}
    -# %canvas#canvas{:width => 800, :height => 800}
  .span3.offset1
    %ul.nav.nav-tabs.nav-stacked
      %li
        =link_to "Random opponent", '#', :id => 'play_random'
      %li
        =link_to "Play with friend", '#', :id => 'play_with_friend'
.row-fluid.footer
  bla-bla footer
