.row-fluid.header
  %h1
    Quoridor
.row-fluid.container
  .span8.board
    .row-fluid
      %b.with
    .row-fluid
      %b.turn.hide
        Your turn
    #svg.board-size
    -# %embed{:src => "images/board.svg", :type => "image/svg+xml"}
    -# %canvas#canvas{:width => 800, :height => 800}
  .span4
    %h4
      поле для ввода своего имени
    %form#register
      %fieldset
        %input#name{:placeholder => 'type your name...'}
    .row-fluid
      .well.waiting.hide
        Waiting for another player...
.row-fluid.footer
  bla-bla footer
